<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form class="fx-al-center-100vw-vh" id="formAuth" method="post">
        <input type="text" name="txtUser"/>
        <input type="password" name="txtPass"/>
        <input type="submit" name="btnSignin" id="btnSignin" formaction="/auth/signin" value="Entrar"/>
        <input type="submit" name="btnSignup" id="btnSignup" formaction="/auth/signup" value="Registrar"/>
    </form>
</body>
</html>