<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form method="post">
        <input type="text" name="txtUser"/>
        <input type="password" name="txtPass"/>
        <input type="submit" name="btnSignin" value="Entrar"/>
        <input type="submit" name="btnSignup" value="Registrar"/>
    </form>
</body>
</html>