@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-default);
    overflow: hidden;
    outline: none;

}
:root{
    --bg: #0D0D0D;
    --panel-bg: #101010;
    --border-bg: #1D1D1D;
    --search-bar-bg: #D9D9D9;
    --search-bar-icons-color-and-text-color: #7C7C7C;
    --search-bar-txtbox: #FFFFFF;
    --font-family-default: 'Inter';
}
body{
    background-color: var(--bg);
     
}
.fx-al-center-100vw-vh{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box-al-center-100vw-vh{
  background-color: var(--panel-bg);
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--border-bg);
}
.crud-loader {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 6px solid;
    border-color: #BCBCBC;
    border-right-color: #101010;
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }