@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-default);

}
:root{
    --bg: #EEEEEE;
    --panel-bg: #E8E8E8;
    --border-bg: #C7C7C7;
    --search-bar-bg: #D9D9D9;
    --search-bar-icons-color-and-text-color: #7C7C7C;
    --search-bar-txtbox: #FFFFFF;
    --font-family-default: 'Inter';
}
body{
    background-color: var(--bg);
     
}
.fx-al-center-100vw-vh{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crud-loader {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 6px solid;
    border-color: #c7c7c7;
    border-right-color: #7c7c7c;
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }